.app-container {
  padding: 40px 15px;
  text-align: center; }

.item-list li {
  list-style: none;
  border: 1px solid;
  padding-bottom: 10px;
  cursor: pointer;
  margin: 10px; }
  .item-list li:hover {
    color: blue; }
